/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	*{
		padding : 0;
		margin : 0;
		box-sizing: border-box;
		}
		body{
			  color:black;
			  font-family: Arial, Helvetica, sans-serif;
		}
		.div3{ 
			   border: 7px outset whitesmoke;			
			   text-align:center;
			   background:white;
			   width:45%;
			   padding:40px;
			   margin:auto;
		}
		#head{
			color: #3b4bd300;
			text-align:center;
			width:auto;
		}
		
		.far fa-comment-dots{
			color: #3b4bd300;
			text-align:center;
			width:auto;
		}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	*{
		padding : 0;
		margin : 0;
		box-sizing: border-box;
		}
		body{
			  color:black;
			  font-family: Arial, Helvetica, sans-serif;
		}
		.div3{ 
			   border: 7px outset whitesmoke;			
			   text-align:center;
			   background:white;
			   width:45%;
			   padding:40px;
			   margin:auto;
		}
		#head{
			color: #3b4bd300;
			text-align:center;
			width:auto;
		}
		
		.far fa-comment-dots{
			color: #3b4bd300;
			text-align:center;
			width:auto;
		}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	*{
		padding : 0;
		margin : 0;
		box-sizing: border-box;
		}
		body{
			  color:black;
			  font-family: Arial, Helvetica, sans-serif;
		}
		.div3{ 
			   border: 7px outset whitesmoke;			
			   text-align:center;
			   background:white;
			   width:45%;
			   padding:40px;
			   margin:auto;
		}
		#head{
			color: #3b4bd300;
			text-align:center;
			width:auto;
		}
		
		.far fa-comment-dots{
			color: #3b4bd300;
			text-align:center;
			width:auto;
		}
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	*{
	padding : 0;
	margin : 0;
	box-sizing: border-box;
	}
	body{
		  color:black;
		  font-family: Arial, Helvetica, sans-serif;
	}
	.div3{ 
		   border: 7px outset whitesmoke;			
		   text-align:center;
		   background:white;
		   width:45%;
		   padding:40px;
		   margin:auto;
	}
	#head{
		color: #3b4bd300;
		text-align:center;
		width:auto;
	}
	
	.far fa-comment-dots{
		color: #3b4bd300;
		text-align:center;
		width:auto;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
*{
padding : 0;
margin : 0;
box-sizing: border-box;
}
body{
	  color:black;
	  font-family: Arial, Helvetica, sans-serif;
}
.div3{ 
	   border: 7px outset whitesmoke;			
	   text-align:center;
	   background:white;
	   width:45%;
	   padding:40px;
	   margin:auto;
}
#head{
	color: #3b4bd300;
	text-align:center;
	width:auto;
}

.far fa-comment-dots{
	color: #3b4bd300;
	text-align:center;
	width:auto;
}


label{
	float: left;
	width: 100px;
	text-align: right;
	padding-right:auto;
	margin-top: 12px;
	clear: left;
}
input,textarea{ 
	margin-top: 12px;
}

#tab1{
	margin-left:auto;
	margin-right:auto;
	padding:15p;
}

#tab2{
	margin-left:auto;
	margin-right:auto;
	padding:15p;
}
#tab3{
	margin-left:auto;
	margin-right:auto;
	padding:15p;
}
#tab3 th{
	background-color: white;
	color:#bd0036;
}
#tab3 td,th{
	text-align:left;
	padding:5px;
	
}

#tab2 th{
		color: #c00000;
		background:none;
		text-align: left;
		
}
tab2 td{
	text-align:left;
}

.tab {
    tab-size:10; 
}

.button{
	display: inline-block;
	padding:10px  25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: black;
	border:none;
	border-radius:10px;
	box-shadow:0 4px gray;
}
.button:hover{
    background-color: #3e8e41;
}
.button:active{
	background-color: #3e8e41 ;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}


.button2{
	display: inline-block;
	padding:10px  25px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: black;
	border:none;
	border-radius:15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	
}
.button2:hover{
    background-color: #3e8e41;
}
.button2:active{
	background-color: #3e8e41 ;
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

#head{
	color: #000000;
}

.menuBar{
background: #333333;
text-align: center;
}

.menuBar ul{
display: inline-flex;
list-style: none;
font-size: 16px;

}

.menuBar ul li .abc{
	float: left;
}
.menuBar ul li .xyz{
	float: right;
}

.menuBar ul li{
width: 135px;
margin: 15px;
padding:15px;

}

.menuBar ul li a{
	text-decoration: none;
	color: #fff;
}
.subMenu1 {
	display: none;
}

.menuBar ul li:hover{
	background:  #3e78ff;
	border-radius: 3px;	
}

.menuBar ul li:hover .subMenu1 {
	display: block;
	position: absolute;
	background: grey;
	margin-top: 15px;
	margin-left: -15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menuBar .fa{
	margin-right:8px;
}

.menuBar ul li:hover .subMenu1 ul {
		display: block;
		margin:10px;
		
}

.menuBar ul li:hover .subMenu1 ul li {
	width: 140px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius:0;
	text-align:left;
}

.menuBar ul li:hover .subMenu1 ul li:last-child {border-bottom:none;}

.menuBar ul li:hover .subMenu1 ul :hover{
	background: #3e78ff;
	border-radius: 3px;
	color:#000000;
}

i{
	color: white;
}

#feat{	
    font-size: 20;
	text-align:center;
	padding:15p;
    width: 100%;
	border-spacing: 10px;
}

th{
	color:#ff0000;
	background-color: #ffff90;
}

h3{
	size: 32;
	color:#008ee7;
}

.italic{
	color:black;
	}

footer{
	background-color:#404040;
	color: #ffffff;
	text-align: center;
}

p{
	font-family: Verdana;
	size: 20;
	text-align:justify;
}
 
#center{
text-align:center;	
}
}

