body{
      background-image: url("bg1.jpg");
      background-attachment: fixed;
}
.content{ 
       background:rgb(120,120,120);
	   width: 35%;
       padding: 40px;
       margin: 100px auto;
}
#login{
       background:rgb(120,120,120);
	   width: 35%;
       padding: 40px;
       margin: 100px auto;	
}