*{
padding : 0;
margin : 0;
box-sizing: border-box;
}
body{
	  color:black;
	  font-family: Arial, Helvetica, sans-serif;
}
.div3{ 
	   border: 7px outset whitesmoke;			
	   text-align: center;
	   background:white;
	   width: 35%;
	   padding: 40px;
	   margin: auto;
}
h1{
	text-align:center;
	color: black;
}
#tab1{
	margin-left:auto;
	margin-right:auto;
	padding:15p;
}
.button{
	display: inline-block;
	padding:10px  25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: black;
	border:none;
	border-radius:15px;
	box-shadow: 0 4px gray;
}
.button: hover{
    background-color: #3e8e41;
}
.button: active{
	background-color: #3e8e41 ;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

head{
	color: #000000;
}
.menuBar{
background: #333333;
text-align: center;
padding: 15;
}

.menuBar ul{
display: inline-flex;
list-style: none;

}

.menuBar ul li{
width: 120px;
margin: 15px;
padding:15px;

}

.menuBar ul li a{
	text-decoration: none;
	color: #fff;
}
.subMenu1 {
	display: none;
}

.subMenu2 {
	display: none;
}

.menuBar ul li:hover{
	background: #3e78ff;
	border-radius: 3px;
	
}

.menuBar ul li:hover .subMenu1 {
	display: block;
	position: absolute;
	background: grey;
	margin-top: 15px;
	margin-left: -15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menuBar .fa{
	margin-right:8px;
}
.menuBar ul li:hover .subMenu2 {
	display: block;
	position: absolute;
	background: grey;
	margin-top: 15px;
	margin-left: -15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuBar ul li:hover .subMenu1 ul {
		display: block;
		margin:10px;
		
}

.menuBar ul li:hover .subMenu2 ul{
		display: block;
		margin:10px;
}

.menuBar ul li:hover .subMenu1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius:0;
	text-align:left;
}

.menuBar ul li:hover .subMenu2 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius:0;
	text-align:left;

}

.menuBar ul li:hover .subMenu1 ul li:last-child {border-bottom:none;}

.menuBar ul li:hover .subMenu2 ul li:last-child {border-bottom:none;}

.menuBar ul li:hover .subMenu1 ul li a:hover{
	color:#000000;
}

.menuBar ul li:hover .subMenu2 ul li a:hover{
	color:#000000;
	
}
i{
	color: white;
}
#feat{	
    font-size: 20;
	text-align:center;
	padding:15p;
    width: 100%;
	border-spacing: 10px;
}
th{
	color:#ff0000;
	background-color: #ffff90;
}

h3{
	size: 32;
	color:#008ee7;

}

footer{
	background-color:#404040;
	color: #ffffff;
	text-align: center;
}
p{
	font-family: Verdana;
	size: 20;
	text-align:justify;
}
#center{
text-align:center;	
}

