.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-auto-rows: minmax(80px, auto);
  grid-row-gap: 1rem;
}
.grid-item {
  margin: 2px;
  border: 3px solid black;
  background-color: antiquewhite;
}
.btn:hover {
  background-color: brown;
}
.grid-item2 {
  font-size: larger;
  grid-row: span 4;
}
.grid-item1 {
  grid-column: span 3;
}
.grid-item5 {
  grid-column: span 3;
}
.grid-item3 {
  grid-row: span 3;
}

.grid-item4 {
  grid-row: span 3;
}
